<div class="modal fade" id="eliminar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--Header de la ventana-->
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Eliminar</h3>
            </div>
            <div class="modal-body">
                <!--Contenido de la ventana-->
                <h4>¿Esta seguro de eliminar el usuario?</h4>
            </div>
            <div class="modal-footer">
                <!--Footer de la ventana-->
                <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>