@{
    ViewBag.Title = "Sistema de Control de Actas de Evalucaci&oacute;n Final";
    ViewBag.PageName = "Inicio";
    Layout = "_Layout";
}
<div class="tab-content col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Inicio</h3>
        </div>
        <div class="panel-body">
            Bienvenido al Sistema de Control de actas de evaluaci&oacute;n final
        </div>
    </div>
</div>